AgricultureApp/bin/
AgricultureApp/obj/
C:\Users\chaba\OneDrive\Desktop\PFE\AgricultureApp\appsettings.json
C:\Users\chaba\OneDrive\Desktop\PFE\plant-disease-service\trained_model
C:\Users\chaba\OneDrive\Desktop\PFE\plant-disease-service\venv

