# IDE / éditeur
.vs/
.vscode/

# Build .NET
AgricultureApp/bin/
AgricultureApp/obj/

# Environnement Python
plant-disease-service/venv/
plant-disease-service/__pycache__/
*.pyc

# Fichiers notebooks (si tu ne veux pas les versionner)
*.ipynb

# Modèles entraînés (volumineux)
plant-disease-service/trained_model/

# Fichiers temporaires ou d’exécution
*.suo
*.user
*.sqlite


